/* inicializar los márgenes y rellenos */
* {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
}

/* estilo de los créditos, trasladados del html */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
  padding-bottom: 16px;
  position: absolute; /* quita el orden gravitacional normal del texto
                         haciéndolo flotar en una capa separada*/
  bottom: 0; /* posiciona el texto en la parte inferior de la ventana */
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* centrado del contenido con flexbox */
body {
  display: flex; /* actica el modelo de caja flexible */
  flex-direction: column; /* dirección de los elementos flex, de arriba a abajo */
  align-items: center; /* eje transversal (centrado horizontal), toma el ancho del
                          monitor y reparte el espacio sobrante, dejando el 
                          article en el medio */
  justify-content: center; /* eje principal (centrado vertical), toma el 100% de
                              la altura de pantalla y reparte el espacio entre 
                              article y footer (attribution) */
  min-height: 100vh; /* altura mínima del 100% de la ventana gráfica */
  background: hsl(212, 45%, 89%);
}

/* estilo para el contenedor del QR code */
article {
  background: hsl(0, 0%, 100%);
  width: 320px; /* ancho dado por Figma */
  padding: 16px;
  border-radius: 20px;
}

img {
  width: 100%; /* forzar al QR code a ocupar el ancho máximo disponible (del contenedor) */
  display: block; /* dejando que se muestre como un elemento de bloque,
                     elimina el espacio en blanco alrededor. La imagen 
                     respeta los padding del article */
  height: auto; /* previene deformación */
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: hsl(218, 44%, 22%);
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 24px 16px 16px; /* 24px para separar el título del QR code,
                           y 16px para separar el título del párrafo */
}

p {
  text-align: center;
  color: hsl(216, 15%, 48%);
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 0 16px 24px; /* crea un acolchado de 16px en los lados y 
                           24px en la parte inferior del article (sumando
                           los 16px del padding del article hacen los 40px
                           que se muestran en Figma) */
}
